---
layout: archive
title: "Teaching"
excerpt:
header:
  overlay_image: https://jggarita.github.io/images/hermes.jpg
  caption: "From Kepler's Harmonices Mundi"
permalink: /teaching/
author_profile: true
---

{% include base_path %}


{% for post in site.teaching reversed %}
	{% if post.type == 'Graduate' %}
		{% include archive-single.html %}
	{% endif%}
{% endfor %}



{% for post in site.teaching reversed %}
	{% if post.type == 'Undergraduate' %}
		{% include archive-single.html %}
	{% endif%}
{% endfor %}
